<head>
  <style>
    .center {
      text-align: center;
      margin: auto;
      width: 100%;
      padding: 10px;
    }
  </style>
</head>
<body>
<form action="/website" method="POST" autocomplete="off">
  <div class="center">
    <h3 >Web Scraper</h3>
    <input
      type="text"
      name="domainname"
      placeholder="websiteurl"
    />
  </div>
  <div class="center">
    <button type="submit">
    Submit
    </button>
  </div>
</form>
</body>